name: publish

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup pnpm
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install npm modules
        run: pnpm i

      - name: Run prettier, lint, jest checks
        run: pnpm test

      - name: Build
        run: pnpm build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.1
        with:
          branch: gh-pages
          folder: dist
